<nav class="navbar navbar-danger bg-danger justify-content-between h-25 ">
  <form class="form-inline" action="/views/products" method="get">
    <button class=" border border-1 border-white btn btn-m btn-danger-success mx-2 my-2 my-sm-0" type="submit">Home</button>
  </form>
{{#if user}}
  <form class="form-inline" action="/user/logout" method="get">
    <button class=" border border-1 border-white btn btn-m btn-danger-success mx-2 my-2 my-sm-0" type="submit">Logout</button>
  </form>
  <form class="form-inline" action="/views/userCart" method="get">
    <button class=" border border-1 border-white btn btn-m btn-danger-success mx-2 my-2 my-sm-0" type="submit">Show Cart</button>
  </form>
  {{else}}
  <form class="form-inline" action="/views/login" method="get">
    <button class=" border border-1 border-white btn btn-m btn-danger-success mx-2 my-2 my-sm-0" type="submit">LogIn</button>
  </form>
{{/if}}
</nav>